<form id="newPostForm">
    <h2 style="text-align: center;"><strong>Update your post!</strong></h2>
<div class="field">
  <label class="label">Title</label>
  <div class="control">
    <input id="title" class="input" type="text" placeholder="Title" value="{{title}}">
  </div>
</div>
<div class="field">
  <label class="label">Caption</label>
  <div class="control">
      <input id="caption" class="input" type="text" placeholder="Caption" value="{{caption}}">
  </div>
</div>
 <div class="control">
    <button action="submit"  class="button is-link">Update</button>
  </div>
</form>