<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PetPlayground</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>
  <body>
    <header>
      <h1> &#128062; PetPlayground &#128062;</h1>
    </header>
    <main>
      <div>
        {{{body}}}
      </div>
    </main>
    
  </body>
  <script src="/js/script.js"></script>
  
</html>