<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PetPlayground</title>
       <link rel="icon" href="/images/pawprint.jpeg" 
          type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/css/reset.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
     <link rel="stylesheet" type="text/css" href="/css/style.css" />

  </head>
  <body>
    <header>
      <div id="logoStyle" class="gradient custom"> &#128062; <img alt="Pet Platground" src="/images/logo.png">  &#128062;</div>
      <nav >
        <ul style="list-style-type:none;" id="navbarItems">
          <a href="/">
            <li>Home</li>
          </a>
           <a href="/profile">
            <li>Profile</li>
          </a>
          {{#if loggedIn}}
           <a href="#" id="logout">
            <li>Logout</li>
          </a>
          {{else}}
          <a href="#" id="login">
            <li>Login</li>
          </a>
          {{/if}}
        </ul>
      </nav>

    </header>
    <main>
      <div class="gallery">
        {{{body}}}
      </div>
    </main>
    
  </body>
  <script src="/js/script.js"></script>
  <script src="/js/logout.js"></script>
</html>