<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PetPlayground</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
     <link rel="stylesheet" type="text/css" href="/css/style.css" />

  </head>
  <body>
    <header>
      <h1> &#128062; PetPlayground &#128062;</h1>
      <nav >
        <ul style="list-style-type:none;" id="navbarItems">
          <a href="#">
            <li>Home</li>
          </a>
           <a href="#">
            <li>Dashboard</li>
          </a>
           <a href="#">
            <li>Login</li>
          </a>
        </ul>
      </nav>

    </header>
    <main>
      <div class="gallery">
        {{{body}}}
      </div>
    </main>
    
  </body>
  <script src="/js/script.js"></script>
  <script src="/js/logout.js"></script>
</html>