<h2>We're so excited to welcome your pet to our community!</h2>
<form id="pet-submit">
<div class="field">
  <label class="label">Name</label>
  <div class="control">
    <input id="name" class="input" type="text" placeholder="Text input">
  </div>
</div>

<div class="field">
  <label class="label">Username</label>
  <div class="control has-icons-left has-icons-right">
    <input id="username" class="input is-success" type="text" placeholder="Text input" value="bulma">
    <span class="icon is-small is-left">
      <i class="fas fa-user"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fas fa-check"></i>
    </span>
  </div>
  <p class="help is-success">This username is available</p>
</div>


<div class="field is-grouped">
  <label class="label">Gender</label>
  <div class="control">
    <div class="select">
      <select id="gender">
        <option>Male</option>
        <option>Female</option>
      </select>
    </div>
  </div>
  <label class="label">Birthdate</label>
  <div class="control">
    <input id="birthday" class="input" type="date" placeholder="1/1/2001">
  </div>
  <label class="label">Age</label>
  <div class="control">
    <input id="age" class="input" type="text" placeholder="ie: 4 months, 7 years">
  </div>
  <label class="label">Pet Type</label>
  <div class="control">
    <input id="pet-type" class="input" type="text" placeholder="ie: cat or dog">
  </div>
</div>

<div class="field is-grouped">
    <label class="label">Favorite Food</label>
  <div class="control">
    <input id="favorite-food" class="input" type="text" placeholder="spaghetti">
  </div>
 <label class="label">Favorite Toy</label>
  <div class="control">
    <input id="favorite-toy" class="input" type="text" placeholder="tennis ball">
  </div>
</div>
<div class="field">
  <label class="label">Add a bio for your pet!</label>
  <div class="control">
    <textarea id="bio" class="textarea" placeholder="Hi, my name is Cherry. I'm a 7 year old cat..."></textarea>
  </div>
</div>
<div class="field">
  <label class="label">Upload a profile picture</label>
  <div class="control">
    <input id="pet-pic" class="input" type="file"  accept="image/png, image/jpeg">
  </div>
</div>
  <div class="control">
    <button action="submit"  class="button is-link">Submit</button>
  </div>
</form>
 <script src="/js/createPet.js"></script>