<section >
  {{#if loggedIn}}
  <section class="flex-row justify-center">
    {{#each posts as |post|}}
    {{> post-details}}
    {{/each}}
  </section>
</section>
{{else}}
<a href="/login">Login First</a>
   {{/if}}

<div id="form-logout">
  <button class="btn btn-primary" type="click">logout</button>
</div>