:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
  text-align: center;
  font-size: 35px;
  color: darkblue;
}

body {
  min-width: 535px;
}

header {
  padding: 1em;
  border-bottom: rgb(168, 74, 173) 2px solid;
  background-color: antiquewhite;
}

#navbarItems {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.gallery {
  padding: 2em;
}

#loginText {
  font-size: 20px;
  color: black;
  padding: 0.5em;
}

#signupText {
  font-size: 20px;
  color: black;
  padding: 0.5em;
}

.sidebar {
  height: 100%;
  width: 150px;
  left: 0;
  top: 0;
  background-color: gray;
}

.profileBody {
  margin-left: 155px;
}

.post-img {
  width: 407px;
  height: 407px;
  object-fit: cover;
  flex-shrink: 0;
}

.card-image {
  padding: 0;
  margin: 0;
  width: 407px;
  height: 407px;
  left: 25px;
}

.column.card-image-column {
  flex: none;
}

@media screen and (max-width: 769px) {
  .post-content {
    flex: none;
    align-content: center;
    top: -25px;
  }
  .card-text-column {
    position: relative;
    top: -25px;
  }
}

.post-content {
  position: relative;
  top: 20%;
  background-color: antiquewhite;
}

.card-text-column {
  min-width: 25%;
}

.card {
  box-shadow: none;
}
